@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 0 0% 100%;
        --foreground: 222.2 84% 4.9%;

        --card: 0 0% 100%;
        --card-foreground: 222.2 84% 4.9%;

        --popover: 0 0% 100%;
        --popover-foreground: 222.2 84% 4.9%;

        --primary: 222.2 47.4% 11.2%;
        --primary-foreground: 210 40% 98%;

        --secondary: 210 40% 96.1%;
        --secondary-foreground: 222.2 47.4% 11.2%;

        --muted: 210 40% 96.1%;
        --muted-foreground: 215.4 16.3% 46.9%;

        --accent: 210 40% 96.1%;
        --accent-foreground: 222.2 47.4% 11.2%;

        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 210 40% 98%;

        --border: 214.3 31.8% 91.4%;
        --input: 214.3 31.8% 91.4%;
        --ring: 222.2 84% 4.9%;

        --radius: 0.5rem;

        --text-color: #fff;
    }

    .dark {
        --background: 222.2 84% 4.9%;
        --foreground: 210 40% 98%;

        --card: 222.2 84% 4.9%;
        --card-foreground: 210 40% 98%;

        --popover: 222.2 84% 4.9%;
        --popover-foreground: 210 40% 98%;

        --primary: 210 40% 98%;
        --primary-foreground: 222.2 47.4% 11.2%;

        --secondary: 217.2 32.6% 17.5%;
        --secondary-foreground: 210 40% 98%;

        --muted: 217.2 32.6% 17.5%;
        --muted-foreground: 215 20.2% 65.1%;

        --accent: 217.2 32.6% 17.5%;
        --accent-foreground: 210 40% 98%;

        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 210 40% 98%;

        --border: 217.2 32.6% 17.5%;
        --input: 217.2 32.6% 17.5%;
        --ring: 212.7 26.8% 83.9%;

        --text-color: #fff;
    }
    .custom-area {
        --vis-area-fill-opacity: 0.4;
        --vis-area-hover-fill-opacity: 1;
        --vis-area-stroke-width: 1px;
    }

    #textblock {
        background-color: #210002;
        height: 100vh;
    }

    #textblock-container {
        width: 50%;
        margin: 0 auto;
        padding-top: 70px;
    }

    #textblock-title {
        color: #ffaf1b;
        font-size: 35px;
        font-weight: 600;
        font-family: "Helvetica Neue";
    }

    .textblock-content {
        color: #ffaf1b;
        font-size: 20px;
    }

    #textblock-footer {
        color: #ffaf1b;
        font-size: 15px;
        font-weight: 400;
        position: fixed;
        width: 100%;
        bottom: 0px;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-bottom: 20px;
    }

    #textblock-devsense {
        text-decoration: none;
        color: #ffaf1b;
        font-size: 15px;
        font-weight: 600;
    }

    .animation,
    .animation_layer {
        height: 1000px;
    }

    .animation {
        display: block;
        position: relative;
        z-index: 10;
    }

    .animation_layer {
        background-position: bottom center;
        background-size: auto 1038px;
        background-repeat: repeat-x;
        width: 100%;
        position: absolute;
    }
    .animation_layer.parallax {
        position: fixed;
    }

    #artback {
        background-image: url(/images/background.png);
    }

    #mountain {
        background-image: url(/images/mountains.png);
    }

    #logoland {
        background-image: url(/images/logo_land.png);
    }

    #jungle1 {
        background-image: url(/images/jungle1.png);
    }

    #jungle2 {
        background-image: url(/images/jungle2.png);
    }

    #jungle3 {
        background-image: url(/images/jungle3.png);
    }

    #jungle4 {
        background-image: url(/images/jungle4.png);
    }

    #jungle5 {
        background-image: url(/images/jungle5.png);
    }

    #manonmountain {
        background-image: url(/images/man_on_mountain.png);
    }
}

@layer base {
    * {
        @apply border-border;
    }
    body {
        @apply bg-background text-foreground;
    }
}
